.main {
  display: flex;
  width: 100%;
  overflow: hidden; }
  .main .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 100vh;
    background: #222c3a; }
    .main .menu .item {
      margin-top: 10px; }
      .main .menu .item a {
        color: #7f90a4;
        text-decoration: none;
        cursor: pointer; }
      .main .menu .item a:hover {
        color: #9fc0e9; }
      .main .menu .item .selected {
        color: #00fff6; }
      .main .menu .item.logout {
        position: absolute;
        bottom: 20px; }
  .main .header-container {
    background: #e2e2e2;
    position: fixed;
    width: calc(100% - 100px);
    height: 50px;
    right: 0; }
    .main .header-container .header-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%; }
      .main .header-container .header-wrapper .title {
        margin-left: 30px;
        font-size: 1.6em; }
      .main .header-container .header-wrapper .user-info {
        margin-right: 30px; }
  .main .content-wrapper {
    flex: 1;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background: #fafbfc;
    margin-top: 50px; }
    .main .content-wrapper .content {
      width: 100%;
      height: 100%;
      margin: 20px; }
      .main .content-wrapper .content .flex-container .title {
        font-size: 1.6em;
        padding-bottom: 20px; }
