.main {
  display: flex;
  width: 100%;
  overflow: hidden;

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 100vh;
    background: rgb(34, 44, 58);

    .item {
      margin-top: 10px;

      a {
        color: rgb(127, 144, 164);
        text-decoration: none;
        cursor: pointer;
      }

      a:hover {
        color: rgb(159, 192, 233);
      }

      .selected {
        color: rgb(0, 255, 246);
      }

      &.logout {
        position: absolute;
        bottom: 20px;
      }
    }
  }

  .header-container {
    background: #e2e2e2;
    position: fixed;
    width: calc(100% - 100px);
    height: 50px;
    right: 0;

    .header-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%;

      .title {
        margin-left: 30px;
        font-size: 1.6em;
      }

      .user-info {
        margin-right: 30px;
      }
    }
  }

  .content-wrapper {
    flex: 1;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background: #fafbfc;
    margin-top: 50px;

    .content {
      width: 100%;
      height: 100%;
      margin: 20px;

      .flex-container {

      }
    }
  }
}
